<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title>Jobs Portal</title>
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1>Welcome To Jobs Updates Portal</h1>
            <h4>continous job updates for every hour....</h4>

            <a href="/chennai" class="btn btn-primary btn-lg" role="button">Chennai Jobs</a>&nbsp&nbsp&nbsp
            <a href="/hyderabad" class="btn btn-primary btn-lg" role="button">Hyderabad Jobs</a>&nbsp&nbsp&nbsp
            <a href="/bangalore" class="btn btn-primary btn-lg" role="button">Bangalore Jobs</a>&nbsp&nbsp&nbsp
            <a href="/pune" class="btn btn-primary btn-lg" role="button">Pune Jobs</a>
        </div>

    </div>
    
</body>
</html>